<ion-header>
  <ion-toolbar>
    <ion-title><center>Inicio</center></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card id="title">
    <center>
      <h1>
        CALÇADOS STRYDER'S®
      </h1>
    </center>
  </ion-card>
    
  <ion-card>
    <center>
      <p>
        do seu pé ao seu estilo!
      </p>
    </center>

    <center>
      <p>
        venha conferir nossos mais diversos calçados
      </p>
    </center>
  
  </ion-card>
  
  
  <ion-card>
    <center>
      <img src="/assets/images/calcados.jpg" alt="">
    </center>
  </ion-card>

</ion-content>
